{% extends 'base.html' %}

{% block content %}
    <h1>Quotes monitor index page</h1>

    <table class="table table-stripped">

        <thead>
            <tr>
                <th rowspan="2">Instrument</th>
                <th rowspan="2">Date</th>
                <th rowspan="2">Contract</th>
                <th rowspan="2">Opt. Expiration</th>
                <th colspan="3">Execution time / price</th>
                <th colspan="3">Decision time / price</th>
            </tr>
            <tr>
                <th>time</th>
                <th>quote time</th>
                <th>price</th>
                <th>time</th>
                <th>quote time</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>

        {% for qi in quotes_info %}
            <tr>
                <td>{{ qi.instrument }}</td>
                <td>{{ qi.date_now }}</td>
                <td>{{ qi.fut_contract }}</td>
                <td>{{ qi.opt_series}}</td>
                <td>{{ qi.exec_time|date:'H:i' }}</td>
                {% if qi.date_now.date == qi.exec_time_quote_date.date %}
                    <td>{{ qi.exec_time_quote_date|date:'H:i' }}</td>
                {% else %}
                    <td class="warning">{{ qi.exec_time_quote_date|date:'d/M H:i' }}</td>
                {% endif %}
                <td>{{ qi.exec_price_fut.price }}</td>


                <td>{{ qi.decision_time|date:'H:i' }}</td>
                {% if qi.date_now.date == qi.decision_time_quote_date.date %}
                    <td>{{ qi.decision_time_quote_date|date:'H:i' }}</td>
                {% else %}
                    <td class="warning">{{ qi.decision_time_quote_date|date:'d/M H:i' }}</td>
                {% endif %}

                <td>{{ qi.decision_time_fut.price }}</td>
            </tr>

        {% endfor %}


        </tbody>

    </table>
{% endblock %}