{% extends 'base.html' %}

{% block content %}
    <h1>EXO quotes monitoring</h1>

    {% for asset_name, exo_dict in exo_info.items %}
        <h2>{{ asset_name }}</h2>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th rowspan="2">EXO Name</th>
                <th rowspan="2">Updated</th>
                <th rowspan="2">Last rollover</th>
                <th colspan="2">EXO last quote</th>
            </tr>
            <tr>
                <th>quote date</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>

            {% for exo_name, xinfo in exo_dict.items %}
                <tr>
                    <td>{{ exo_name }}</td>
                    <td>{{ xinfo.calc_date }}</td>
                    <td>{{ xinfo.last_rollover_date }}</td>
                    <td>{{ xinfo.exo_last_date }}</td>
                    <td>{{ xinfo.exo_last_quote }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endfor %}
{% endblock %}