{% extends 'base.html' %}

{% block content %}
    <h1>Actual alphas state monitoring</h1>

    {% for campaign_name, alphas_dict in alphas_info.items %}
        <h2>Campaign: {{ campaign_name }}</h2>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Alpha Name</th>
                <th>Updated</th>
                <th>Last series date</th>
                <th>Last rebalance date</th>
                <th>Last exposure</th>
                <th>Prev exposure</th>
            </tr>
            </thead>
            <tbody>

            {% for alpha_name, xinfo in alphas_dict.items %}
                {% if not xinfo %}
                    <tr>
                        <td>{{ alpha_name }}</td>
                        <td colspan="5">Swarm data is not found in the DB.</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ alpha_name }}</td>
                        <td>{{ xinfo.calc_date }}</td>
                        <td>{{ xinfo.last_date }}</td>
                        <td>{{ xinfo.last_rebalance_date }}</td>
                        <td>{{ xinfo.last_exposure }}</td>
                        <td>{{ xinfo.last_prev_exposure }}</td>
                    </tr>
                {% endif %}

            {% endfor %}

            </tbody>
        </table>
    {% endfor %}
{% endblock %}